{% extends 'base.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style2.css' %}" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
<!------ Include the above in your HEAD tag ---------->
{% block body %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
      <title>Change Password</title>
    <!-- Login Form -->
    <form method="post">
        <br></br>
        <h1>Change Password</h1>
        {% csrf_token %}
      <input type="password" id="old_password" class="fadeIn third" name="old_password" placeholder="Old Password">
      <input type="password" id="new_password1" class="fadeIn third" name="new_password1" placeholder="New Password">
      <input type="password" id="new_password2" class="fadeIn third" name="new_password2" placeholder="Confirm New Password">
      <input type="submit" class="fadeIn fourth" value="Confirm">
    </form>
  </div>
</div>
{% endblock %}