<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Side Project</title>
    <link rel="stylesheet" , href="../../static/accounts/SideProject.css" , type="text/css">
</head>

<body>
<footer class="SiteFooter">
    <div class="FooterContent">
        <div class="contact">
            <h1>Contact us</h1>
            <ul>
                <li>Abdallah Ali Yassin: 01275752294</li>
                <li>Abdelrahman Mohamed Elkhawaga: 015573678346</li>
            </ul>
        </div>
    <div class="copyright">
        copyright
    </div>
    </div>
</footer>
</body>
</html>